org.eclipse.buckminster.test/result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2006-2008, Cloudsmith Inc.
  The code, documentation and other materials contained herein have been
  licensed under the Eclipse Public License - v 1.0 by the copyright holder
  listed above, as the Initial Contributor under such license. The text of
  such license is available at www.eclipse.org.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:rpt="http://www.eclipse.org/buckminster/TestResults-1.0"
	targetNamespace="http://www.eclipse.org/buckminster/TestResults-1.0"
	attributeFormDefault="unqualified" elementFormDefault="unqualified">

	<xsd:annotation>
		<xsd:documentation>
			The XML schema of test reports generated by Buckminster's 
			test command
		</xsd:documentation>
	</xsd:annotation>

	<xsd:simpleType name="ClassName">
		<xsd:annotation>
			<xsd:documentation>
				A (fully qualified) class name.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern
				value="[\p{L}_$][\p{L}\p{N}_$]*(\.[\p{L}_$][\p{L}\p{N}_$]*)*" />
		</xsd:restriction>
	</xsd:simpleType>

	<!--
	<xsd:complexType name="Property">
		<xsd:annotation>
			<xsd:documentation>
				A property that maps a key to a value.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="xsd:anyType">
				<xsd:attribute name="name" type="xsd:string"
					use="required" />
				<xsd:attribute name="value" type="xsd:string"
					use="required" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	-->

	<xsd:complexType name="ExceptionReport">
		<xsd:annotation>
			<xsd:documentation>An exception report.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="message" type="xsd:string"
					use="required" />
				<xsd:attribute name="type" type="rpt:ClassName"
					use="required" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="TestCase">
		<xsd:annotation>
			<xsd:documentation>
				A test case result report.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="xsd:anyType">
				<xsd:choice minOccurs="0">
					<xsd:element name="failure"
						type="rpt:ExceptionReport" />
					<xsd:element name="error"
						type="rpt:ExceptionReport" />
				</xsd:choice>

				<xsd:attribute name="classname" type="rpt:ClassName"
					use="required" />
				<xsd:attribute name="name" type="xsd:string"
					use="required" />
				<xsd:attribute name="timestamp" type="xsd:int"
					use="required" />
				<xsd:attribute name="time" type="xsd:double"
					use="required" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="OutputLog">
		<xsd:annotation>
			<xsd:documentation>A test output log.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>

	<xsd:complexType name="TestSuite">
		<xsd:annotation>
			<xsd:documentation>
				A JUnit test suite result report.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="xsd:anyType">
				<xsd:sequence>
					<!-- 
						<xsd:element name="properties">
						<xsd:complexType>
						<xsd:complexContent>
						<xsd:restriction base="xsd:anyType">
						<xsd:sequence>
						<xsd:element name="property" type="rpt:Property" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
						</xsd:restriction>
						</xsd:complexContent>
						</xsd:complexType>
						</xsd:element>
					-->
					<xsd:element name="testcase" type="rpt:TestCase"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="error" type="rpt:ExceptionReport" />
					<xsd:element name="system-out" type="rpt:OutputLog" />
					<xsd:element name="system-err" type="rpt:OutputLog" />
				</xsd:sequence>

				<xsd:attribute name="name" type="xsd:string"
					use="required" />
				<xsd:attribute name="tests" type="xsd:decimal"
					use="required" />
				<xsd:attribute name="errors" type="xsd:decimal"
					use="required" />
				<xsd:attribute name="failures" type="xsd:decimal"
					use="required" />
				<xsd:attribute name="timestamp" type="xsd:int"
					use="required" />
				<xsd:attribute name="time" type="xsd:double"
					use="required" />
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="testsuites">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="xsd:anyType">
					<xsd:sequence>
						<xsd:element name="testsuite"
							type="rpt:TestSuite" minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>